 .Calender {
  margin: 0;
  padding: 0;
}

.cal-wrapper {
  margin-left: 70px;
  margin-top: 70px;
  height: 75%;
  width: 70%;
}

.cal-p {
  margin-top: 20px;
}

/* new */
.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.month {
  margin: 5px 5px 15px 5px;
}

.month-name {
  color: #ccbe88;
  font-weight: bold;
}

.day {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.date {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50px;
  border: none;
  outline: none;
}

.date.in-month:hover {
  cursor: pointer;
  background: #ccbe88;
}

.today {
  background: #ccbe88;
}

.date.prev-month,
.date.next-month {
  color: grey;
}

.cal-lng1-wrapper {
  padding-left: 11px;
  padding-top: 11px;
  margin-top: 10px;
  width: 80px;
  height: 60px;
  border-radius: 8px;
}

.cal-lng1 {
  background-image: url('../../assets/Home-DarkIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.cal-lng4 {
  background-image: url('../../assets/calendar-dark-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  background-color: #fff;
  cursor: pointer;
  width: 84px;
  height: 60px;
  margin-right: auto;
  margin-top: 3px;
  border-radius: 8px;
  margin-left: 1px;
}
