.dcd-wrapper {
    background-color: #EBEBEB;
}

.dcd-header {
    display: flex;
}

.dcd-header > h3 {
    margin-left: 3vw;
    margin-top: 1vw;
}

.dcd-icon-tray {
    margin-left: 47vw;
    margin-top: 10px;
}

.dcd-icon-tray>img {
    margin-left: 2vw;
}

.dcd-icon-tray>img:hover{
    cursor: pointer;
}

.dcd-more-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 15px;
    text-align: center;
    margin-left: 65vw;
    margin-top: 58px;
}

.dcd-more-options p {
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dcd-more-options p:hover {
    background-color: #f1f1f1;
}

.dcd-textbox {
    margin-top: 16vw;
    background-color: #F0EEEE;
    height: 75px;
    position: fixed;
}

.dcd-textbox > textarea{
    resize: none;
    width: 55vw;
    border-radius: 15px;
    height: 50px;
    margin-top: 1vw; 
    margin-left: 2vw;
}

.dcd-textbox > textarea:focus-visible {
    outline: none;
}

.dcd-icon-chat-tray {
    margin-top: -3vw;
    margin-left: 60vw;
}

.dcd-attach-icon {
    margin-left: 2vw
}

.dcd-send-icon {
    margin-top: -65px;
    margin-left: 69vw;
}

.dcd-icon-chat-tray > img:hover {
    cursor: pointer;
}

.dcd-send-icon:hover {
    cursor: pointer;
}

.dcd-more-options-icon {
    background: url('../../assets/more-options-dark.svg');
    width: 45px;
    height: 15px;
    margin-left: 10vw;
    margin-top: -1vw;
    background-repeat: no-repeat;
}

.dcd-more-options-icon:hover {
    cursor: pointer;
    background: url('../../assets/more-options.svg');
}

.dcd-video-call-icon {
    background: url('../../assets/video-call-icon.svg');
    width: 45px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: -30px;
    margin-left: 100px;
}

.dcd-video-call-icon:hover {
    cursor: pointer;
}

.dcd-add-icon {
    background: url('../../assets/add-member-svg.svg');
    width: 45px;
    height: 30px;
    background-repeat: no-repeat;
    margin-left: 35px;
}

.dcd-add-icon:hover {
    background: url('../../assets/add-member-svg-light.svg');
    cursor: pointer;
    background-repeat: no-repeat;
}

.dcd-members-list-wrapper {
    width: 370px;
    border: 4px solid #CDC8C8;
    border-radius: 14px;
    margin-left: 28vw;
    margin-top: 10vw;
    height: fit-content;
}

.dcd-members-list-wrapper > h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.dcd-member {
    margin-left: 2vw;
}

.dcd-member > span{
    margin-left: 2vw;
}

.dcd-member > button {
    margin-left: 5vw;
    background-color: #fff;
    color: red;   
}