.dcd-wrapper {
    background-color: #EBEBEB;
}

.dcd-header {
    display: flex;
}

.dcd-header > h3 {
    margin-left: 3vw;
    margin-top: 1vw;
}

.dcd-icon-tray {
    margin-top: 5px;
    position: fixed;
    right: 10px;
}

.dcd-icon-tray>img {
    margin-left: 2vw;
}

.dcd-icon-tray>img:hover{
    cursor: pointer;
}

.dcd-more-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 15px;
    text-align: center;
    margin-left: 65vw;
    margin-top: 58px;
}

.dcd-more-options p {
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dcd-more-options p:hover {
    background-color: #f1f1f1;
}

.dcd-textbox {
    background-color: #F0EEEE;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.dcd-textbox > textarea{
    resize: none;
    width: 55vw;
    border-radius: 15px;
    height: 50px;
    margin-top: 1vw;
    margin-left: 77px;
}

.dcd-textbox > textarea:focus-visible {
    outline: none;
}

.dcd-icon-chat-tray {
    margin-top: -3vw;
    margin-left: 60vw;
}

.dcd-attach-icon {
    margin-left: 21px;
    margin-top: 3vw;
    position: fixed;
    bottom: 15px;
}

.dcd-send-icon {
    margin-left: 1005px;
    position: fixed;
    bottom: 12px;
}

.dcd-icon-chat-tray > img:hover {
    cursor: pointer;
}

.dcd-send-icon:hover {
    cursor: pointer;
}

.dcd-more-options-icon {
    background: url('../../assets/more-options-dark.svg');
    width: 45px;
    height: 15px;
    margin-left: 10vw;
    margin-top: -19px;
    background-repeat: no-repeat;
}

.dcd-more-options-icon:hover {
    cursor: pointer;
    background: url('../../assets/more-options.svg');
    background-repeat: no-repeat;
}

.dcd-video-call-icon {
    background: url('../../assets/video-call-icon.svg');
    width: 45px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: -30px;
    margin-left: 95px;
}

.dcd-video-call-icon:hover {
    cursor: pointer;
}

.dcd-add-icon {
    background: url('../../assets/add-member-svg.svg');
    width: 45px;
    height: 30px;
    background-repeat: no-repeat;
    margin-left: 35px;
}

.dcd-add-icon:hover {
    background: url('../../assets/add-member-svg-light.svg');
    cursor: pointer;
    background-repeat: no-repeat;
}

.dcd-emoji-icon {
    position: fixed;
    bottom: 16px;
    right: 69vw;
}

.dcd-members-list-wrapper {
    width: 370px;
    border: 4px solid #CDC8C8;
    border-radius: 14px;
    margin-left: 28vw;
    margin-top: 10vw;
    height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dcd-members-list-wrapper > h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.dcd-member {
    margin-left: 2vw;
    display: table;
}

.dcd-member > span{
    display: table-row;
}

.dcd-member > button {
    background-color: #fff;
    color: red;
    position: relative;
    left: 12vw;
    top: -27px;
    display: table-column;
}

#dcd-members-list {
    display: none;
}

.dcd-members-closelist {
    height: 20px;
    width: 20px;
    position: fixed;
    left: 73vw;
    top: 19.6vw;
    background-color: #fff;
    border: none;
    outline: none;
    z-index: 100;
}

#dcd-emoji-picker {
    margin-top: -25vw;
    margin-left: -79vw;
    z-index: 101;
    display: none;
}

.dcd-add-member-btn {
    background-color: #2BD428;
    border: none;
    outline: none;
    position: relative;
    left: 9vw;
    top: -37px;
    color: #fff;
    border-radius: 14px;
    font-weight: bold;
    z-index: 100;
}

.dcd-messages-display {
    position: fixed;
    top: 138px;
    height: 512px;
    width: 74vw;
    border: 1px solid;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.dcd-message > h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    margin-left: 1vw;
}

.dcd-message > h3 > span {
    font-size: 15px;
}

.dcd-message > h4 {
    font-family: 'Roboto';
    margin-left: 1vw;
}

.dcd-edit-remove-options {
    margin-left: 41vw;
    margin-top: -25px;
    display: none;
}

.dcd-edit-remove-options > button{
    display: table-row;
    background-color: white;
    outline: none;
    border: none;
}

.dcd-edit-msg-icon {
    background: url("../../assets/edit-icon-dark.svg");
    background-repeat: no-repeat;
    height: 25px;
    width: 50px;
}

.dcd-remove-msg-icon {
    background: url("../../assets/delete-icon-dark.svg");
    background-repeat: no-repeat;
    height: 25px;
    width: 50px;
}

.dcd-message:hover .dcd-edit-remove-options {
    display: table;
}

.dcd-edit-msg-input {
    position: relative;
    bottom: 40px;
    display: none;
}