.mp-wrapper {
  
}

.mp-profile-img {
  background-image: url('../../../assets/profile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.mp-inp-wrapper {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mp-x {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding-top: 10px;
  /*background-color: cadetblue;*/
}

.mp-class1 {
  margin-left: 115px;
  width: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 10px;
  /*background-color: chartreuse;*/
}

.mp-fname {
  /*background-color: brown;*/
}

.mp-lname {
  /*background-color: cadetblue;*/
}

.mp-name-label {
  font-size: 17px;
  margin-bottom: 8px;
}

.mp-name-inp1 {
  width: 210px;
  /*background-color: chartreuse;*/
  border: 1px solid #aaa
}

.mp-name-inp2 {
  width: 210px;
  /*background-color: chartreuse;*/
  border: 1px solid #aaa
}

.mp-class2 {
  margin-left: 115px;
  padding-top: 10px;
}

.mp-email {
  font-size: 17px;
  margin-bottom: 10px;
}

.mp-email-inp {
  width: 465px;
  border: 1px solid #aaa;
  margin-bottom: 25px;
}

.mp-update-btn {
  width: 180px;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  background-color: #52D066;
  border: none;
  margin-bottom: 5px;  
}

.mp-delete-btn {
  width: 180px;
  height: 40px;
  margin-top: 20px;
  color: #FF0000;
  background-color: #fff;
  border: 2px solid #aaa;  
}