.b-top-nav {
  width: 100%;
  height: 95px;
  display: grid;
  grid-template-columns: 44% 12% 44%;
  box-shadow: 0 10px 6px -9px #707070;
}
  
.b-left-wrapper {
  display: grid;
  grid-template-rows: 30% 70%;
}

.b-lt {  
  background-color: #000;
  width: 35%;
  display: grid;
  grid-template-columns: 16% 84%;
}

.b-lt:hover {
  cursor: pointer;
}

.b-arrow {
  background-image: url('../../assets/arrow.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 30px;
  height: 30px;
  margin-left: 8px;
}

.b-lt-txt {
  padding-left: 5px;
  padding-top: 4px;
  color: #fff;
}

.b-lb {
  padding-left: 30px;
  margin-top: -3px;
}

.b-title {
  font-family: Pacifico;
  color: #4CBF53;
  font-size: 46px;
  padding: 0px;
  margin: 0px;
}

.b-mid-wrapper {
  border: 1px solid #DBDBDB;;
  width: 100%;
  height: 32px;
  text-align: center;
}

.b-mid-wrapper p {
  color: #707070;
  font-size: 15px;
  padding-top: 3px;
}

.b-right-wrapper {
  padding-left: 70%;
  padding-top: 30px;
}

.b-logout-btn {
  width: 100px;
  height: 35px;
  background-color: #fff;
  color: #000;
  border: 3px solid #189FFA;
  border-radius: 5px;    
}

.b-body-wrapper {
  height: 658px;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 94%;
}

.b-left-nav {
  margin-top: 0px;
  background-color: #52D066;
}

.b-left-nav-grid {
  height: 85%;
  display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
}

.b-lng1-wrapper {
  padding-left: 11px;
  padding-top: 11px;
  margin-top: 10px;
  width: 80px;
  height: 60px;
  border-radius: 8px;
  background-color: #fff;
}

.b-lng1 {
  background-image: url('../../assets/home.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.b-lng2 {
  background-image: url('../../assets/document.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.b-lng3 {
  background-image: url('../../assets/chat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;  
}

.b-lng4 {
  background-image: url('../../assets/calender.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.b-lng5 {
  background-image: url('../../assets/rocketpro.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.b-lng6 {
  background-image: url('../../assets/people.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.b-lng7 {
  background-image: url('../../assets/settings.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

/* D-Body */
.b-body {

}

/* Project Name */
.bb-proname {
  font-size: 18px;
  padding-left: 50px;
  padding-top: 50px;
}

.bb-proLine {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);;
}
.bb-wrapper {
  padding-top: 50px;
  padding-left: 50px;
}

/* Personal */
.bb-personalB {

}

.bbPersonal-hdn {
  font-size: 17px;
}

.bbPersonal-card-wrapper {
  width: 85%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bbPersonal-card {
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 45px;
  text-align: center;
  width: 210px;
  height: 110px;
  background-color: #e6e6e6;
  /*background-color: #CBF0D1;*/
  color: #000;
}

.bbPersonal-card:hover {
  cursor: pointer;
}

.bbPersonal-parag {

}

.bbPersonal-special-card {
  background-image: url('../../assets/leaves.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;    
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 210px;
  height: 110px;
  color: #000;
}

.bbPersonal-xy {
  padding-top: 21px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 60%;
  margin-top: 22px;
  display: grid;
  grid-template-columns: 32% 68%;
  background-color: #fff;
  opacity: 0.7;
}

.bbPersonal-plus {
  background-image: url('../../assets/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.bbPersonal-new-parag {
  font-size: 16px;
}

/* Public Cards */
.bb-publicB {
  margin-top: 25px;
}

.bbPublic-hdn {
  font-size: 17px;
}

.bbPublic-card-wrapper {
  width: 85%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bbPublic-card {
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 45px;
  text-align: center;
  width: 210px;
  height: 110px;
  background-color: #e6e6e6;
  /*background-color: #CBF0D1;*/
  color: #000;
}

.bbPublic-card:hover {
  cursor: pointer;
}

.bbPublic-parag {

}

.bbPublic-special-card {
  background-image: url('../../assets/oneq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;      
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 210px;
  height: 110px;
  color: #000;
}

.bbPublic-xy {
  padding-top: 21px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 60%;
  margin-top: 22px;
  display: grid;
  grid-template-columns: 32% 68%;
  background-color: #fff;
  opacity: 0.7;
}

.bbPublic-plus {
  background-image: url('../../assets/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 25px;
  height: 25px;
  margin-left: 15px;
  /*border: 1px solid #aaa;*/
}

.bbPublic-new-parag {
  font-size: 16px;
}

.gx-loading {
  position: absolute;
  left: 40%;
  top: 42%;
  background-color: #fff;
  /*opacity: 0.8;*/
  color: #000;
  width: 250px;
  height: 130px;
  text-align: center;
  padding-top: 40px;
  /*border: 1px solid #aaa;*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gx-loading p {
  font-family: Pacifico;
  font-size: 30px;
  color: #4CBF53;    
}
