.pd-top-nav {
  width: 100%;
  height: 95px;
  display: grid;
  grid-template-columns: 44% 12% 44%;
  box-shadow: 0 10px 6px -9px #707070;
}
  
.pd-left-wrapper {
  display: grid;
  grid-template-rows: 30% 70%;
}

.pd-lb {
  padding-left: 30px;
  margin-top: -3px;
}

.pd-title {
  font-family: Pacifico;
  color: #4CBF53;
  font-size: 50px;
  padding: 0px;
  margin-top: 12px;
  cursor: pointer;
  width: 100px;
}

.pd-mid-wrapper {
  border: 1px solid #DBDBDB;;
  width: 100%;
  height: 32px;
  text-align: center;
}

.pd-mid-wrapper p {
  color: #707070;
  font-size: 15px;
  padding-top: 3px;
}

.pd-right-wrapper {
  padding-left: 70%;
  padding-top: 30px;
}

.pd-logout-btn {
  width: 100px;
  height: 35px;
  background-color: #fff;
  color: #000;
  border: 3px solid #189FFA;
  border-radius: 5px;    
}

.pd-body-wrapper {
  height: 658px;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 94%;
}

.pd-left-nav {
  margin-top: 0px;
  background-color: #52D066;
}

.pd-left-nav-grid {
  height: 85%;
  display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
}

.pd-lng1-wrapper {
  padding-left: 11px;
  padding-top: 11px;
  margin-top: 10px;
  width: 80px;
  height: 60px;
  border-radius: 8px;
  background-color: #fff;
}

.pd-lng1 {
  background-image: url('../../assets/home.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.pd-lng2 {
  background-image: url('../../assets/document.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 10px;    
}

.pd-chat {
  background-image: url('../../assets/chat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;  
}

.pd-lng4 {
  background-image: url('../../assets/calender.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;  
}

.pd-lng5 {
  background-image: url('../../assets/vc-sidenav-icon-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.pd-lng6 {
  background-image: url('../../assets/people.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.pd-lng7 {
  background-image: url('../../assets/settings.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

/* D-Body */

.pdb-hdn-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.pdb-hdn-left {
  padding-top: 50px;
  padding-left: 50px;
}

.pdb-hdn-left p {
  padding: 0px;
  margin: 0px;      
}

.pdb-hl-1 {
  font-size: 27px;  
  font-weight: bold;
}

.pdb-hl-2 {
  margin-top: 10px;
  font-size: 17px;

}

.pdb-hdn-right {

}

.pdb-hr-1 {
  padding-top: 60px;
  font-size: 17px;
}

.wrx {
  color: #858181;
}

.pdb-proLine {
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);  
  /*background-color: #52D066;*/
}

/* Scheduled Meetings */
.pdb-meetings {
  margin-top: 50px;
  width: 95%;
  display: grid;
  grid-template-columns: 75% 25%;
}

.pdb-m-left {
  min-height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  /*background-color: #52D066;*/
  background-color: #fff;
  color: #000;     
}

.pdml-hdn {
  padding-left: 20px;
  padding-top: 20px;
  height: 60px;
  width: 100%;
  background-color: #fff;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);   
  border-bottom: 1px solid #aaa;
}

.pdml-proLine {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  /*background-color: rgba(0, 0, 0, 0.15);*/  
  background-color: #52D066;
}

.pdml-link-wrx {
  padding-top: 0px;
}

.pdml-sch-meeting {
  width: 90%;
  height: 35px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-bottom: 10px;
}

.pdml-sch-grid-block1 {
  /*background-color: red;*/
  height: 35px;
}

.pdml-sch-grid-block2 {
  /*background-color: orange;*/
  height: 35px;
}

.pdml-sch-grid-block3 {
  /*background-color: green;*/
  height: 35px;
}

.pdml-sch-grid-block4 {
  /*background-color: blue;*/
  height: 35px;
}

.pdml-sch-grid-block5 {
  /*background-color: yellow;*/
  height: 35px;
  color: #52D066;
  font-weight: bold;
}

.cmx {
  text-align: center;
  padding-top: 5px;
  font-size: 17px;
}

.pdb-m-right {
  border-radius: 0px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  /*background-color: #e6e6e6; */
  background-color: #F4F4F4;
}

.pdb-members-online-wrx {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 13px;
  width: 60%;
  margin-left: 20px;
}

.pdb-online-two {
  margin-top: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #52D066;
  margin-left: 5px;
}

.pdb-online-proLine {
  margin-top: -10px;
  width: 100%;
  height: 1px;
  background-color: #aaa;
}

.pdb-online-users {
  padding: 30px;
}

.PD-loading {
  position: absolute;
  left: 40%;
  top: 42%;
  /*opacity: 0.8;*/
  color: #000;
  width: 250px;
  height: 130px;
  text-align: center;
  padding-top: 100px;
  /*border: 1px solid #aaa;*/
}