.pd-top-nav {
  width: 100%;
  height: 95px;
  display: grid;
  grid-template-columns: 44% 12% 44%;
  box-shadow: 0 10px 6px -9px #707070;
}
  
.pd-left-wrapper {
  display: grid;
  grid-template-rows: 30% 70%;
}

.pd-lt {  
  background-color: #000;
  width: 35%;
  display: grid;
  grid-template-columns: 16% 84%;
}

.pd-lt:hover {
  cursor: pointer;
}

.pd-arrow {
  background-image: url('../../assets/arrow.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 30px;
  height: 30px;
  margin-left: 8px;
}

.pd-lt-txt {
  padding-left: 5px;
  padding-top: 4px;
  color: #fff;
}

.pd-lb {
  padding-left: 30px;
  margin-top: -3px;
}

.pd-title {
  font-family: Pacifico;
  color: #4CBF53;
  font-size: 46px;
  padding: 0px;
  margin: 0px;
}

.pd-mid-wrapper {
  border: 1px solid #DBDBDB;;
  width: 100%;
  height: 32px;
  text-align: center;
}

.pd-mid-wrapper p {
  color: #707070;
  font-size: 15px;
  padding-top: 3px;
}

.pd-right-wrapper {
  padding-left: 70%;
  padding-top: 30px;
}

.pd-logout-btn {
  width: 100px;
  height: 35px;
  background-color: #fff;
  color: #000;
  border: 3px solid #189FFA;
  border-radius: 5px;    
}

.pd-body-wrapper {
  height: 658px;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 94%;
}

.pd-left-nav {
  margin-top: 0px;
  background-color: #52D066;
}

.pd-left-nav-grid {
  height: 85%;
  display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
}

.pd-lng1-wrapper {
  padding-left: 11px;
  padding-top: 11px;
  margin-top: 10px;
  width: 80px;
  height: 60px;
  border-radius: 8px;
  background-color: #fff;
}

.pd-lng1 {
  background-image: url('../../assets/home.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.pd-lng2 {
  background-image: url('../../assets/document.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 10px;    
}

.pd-chat {
  background-image: url('../../assets/chat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;  
}

.pd-lng4 {
  background-image: url('../../assets/calender.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;  
}

.pd-lng5 {
  background-image: url('../../assets/rocketpro.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.pd-lng6 {
  background-image: url('../../assets/people.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

.pd-lng7 {
  background-image: url('../../assets/settings.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;    
}

/* D-Body */

.pdb-hdn-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.pdb-hdn-left {
  padding-top: 50px;
  padding-left: 50px;
}

.pdb-hdn-left p {
  padding: 0px;
  margin: 0px;      
}

.pdb-hl-1 {
  font-size: 27px;  
  font-weight: bold;
}

.pdb-hl-2 {
  margin-top: 10px;
  font-size: 17px;

}

.pdb-hdn-right {

}

.pdb-hr-1 {
  padding-top: 60px;
  font-size: 17px;
}

.wrx {
  color: #858181;
}

.pdb-proLine {
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

/* Scheduled Meetings */
.pdb-meetings {
  margin-top: 50px;
  width: 95%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.pdb-m-left {
  border-radius: 10px;
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
  /*background-color: #52D066;*/
  border: 1px solid rgba(0, 0, 0, 0.15);  
  background-color: #e6e6e6;
  color: #000;    
}

.pdb-m-right {
  border-radius: 10px;
  height: 250px;
  text-align: center;
  padding-top: 85px; 
  border: 3px solid #52D066;;
  color: #000;    
}

.digital-time-h1 {
  font-family: 'digital-1';
  font-size: 60px;
}