.createPro {
  margin: 0;
  padding: 0;
}

.cp-top-nav {
  width: 100%;
  height: 90px;
  display: grid;
  grid-template-columns: 44% 12% 44%;
  box-shadow: 0 10px 6px -9px #707070;
}

.cp-left-wrapper {
  text-align: left;
  padding-top: 5px;
}

.cp-title {
  margin-left: 30px;
  font-family: Pacifico;
  font-size: 50px;
  color: #4CBF53;    
}

.cp-mid-wrapper {
  border: 1px solid #DBDBDB;;
  width: 100%;
  height: 32px;
  text-align: center;
}

.cp-mid-wrapper p {
  color: #707070;
  font-size: 15px;
  padding-top: 3px;
}

.cp-right-wrapper {
  padding-left: 70%;
  padding-top: 20px;
}

.cp-profile-icon-wrapper {
  position: relative;
  display: inline-block;
}

.cp-icon {
  width: 50px;
  height: 50px;
  /*border: 2px #aaa solid;*/
  border-radius: 50%;
  cursor: pointer;
  padding: 0px;
}

.cp-icon-txt {
  font: Fira Code;
  font-size: 22px;
  font-weight: bold;
}  
  
.cp-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 15px;
  text-align: center;
}
  
.cp-dropdown-content p {
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
  
.cp-dropdown-content p:hover {
  background-color: #f1f1f1
}
  
.cp-profile-icon-wrapper:hover .cp-dropdown-content {
  display: block;
}

.cp-rect-border-bottom {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 30px;
  padding-left: 80px;
  margin-top: 50px;
}

.cp-rect-border-bottom p {
  font-size: 22px;
  color: #505050;
}

.cp-box {
  width: 60%;
  /*height: 500px;*/
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 50px;
}

.cp-box-hdn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid #4CBF53;
  width: 180px;
  height: 31px;
  background-color: #4CBF53;
}

.cp-box-hdn p {
  padding-top: 2px;
  color: #fff;
  text-align: center;
  font-size: 17px;
}

.cp-box-contents {
  margin-bottom: 50px;
  width: 90%;
  margin-top: 0px;
  /*margin-left: auto;
  margin-right: auto;*/
}

.cp-inp-wrapper {
  padding: 30px;
}

.cp-label {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;  
}

.cp-pname {
  margin-bottom: 20px;
  width: 50%;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
}

.cp-deadline {
  width: 50%;
  height: 35px;  
  padding-left: 10px;
  font-size: 16px;
}

.cp-addMembers {
  font-size: 17px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.cpm-box {
  
}

.cpm-email {
  width: 250px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;  
}

.cpm-role {
  margin-left: 15px;
  width: 250px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;  
}

.cpm-add-btn {
  width: 50px;
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #52D066;
  border: none;
  color: #fff;
}

.cpm-remove-btn {
  width: 100px;
  height: 35px;
  margin-left: 20px;
  background-color: #8F8F8F;
  border: none;
  color: #fff;
}

.cpm-one-row-wrapper {
  margin-bottom: 20px;
}

.cp-submit {
  width: 100px;
  height: 35px;
  margin-top: 20px;
  color: #fff;
  background-color: #52D066;
  border: none;
}