.rp-container {
    position: absolute;
    width: 1100px;
    height: 400px;
    left: 15vw;
    top: 11vw;
    background: #FFFFFF;
    border: 1px solid #D7C9C9;
    box-sizing: border-box;
}

.rp-zod-title{
    height: 242px;
    width: 192px;
    left: 50px;
    top: -67px;
    position: absolute;
    font-family: Pacifico;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 242px;
    letter-spacing: 0em;
    text-align: left;
    color: #4CBF53;
}

.rp-container h2 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: 5vw;
}

.rp-container span {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: 7vw;
    left: 12vw;
    font-size: 25px;
}

.rp-container input[type="email"] {
    position: relative;
    top: 9vw;
    width: 31vw;
    left: 20vw;
    height: 50px;
    border: 1px solid #8F8F8F;
}

.rp-container input[type="submit"] {
    position: relative;
    top: 14vw;
    background-color: #52D066;
    border: none;
    color: #fff;
    height: 50px;
    border-radius: 5px;
    width: 160px;
    left: -1vw;
}